*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.headerTop{
    background-color: #222222;
    color: #F3F3F3;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 0.1% 10% ;
}

.headerTopRight{
    display:flex;
    flex-direction: row;
}

.headerTopRight p{
    margin: 0 15%;
}

.headerBotton{
    align-items: center;
    background-color: #F0A83E;
    display: flex;
    justify-content:space-between;
    padding: 1.5% 3%;
}

.mainMenu{
    display:flex;
    list-style: none;
}

.itemMainMenu{
    margin: 10px;
}

.itemLinkMainMenu{
    color: #F3F3F3;
    text-decoration: none;
}

.mainTop{
    align-items: flex-end;
    background-image: url(../img/fondoPrincipal.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.mainTop div{
    margin: 18% 9%;
    text-align: center;
}

h2{
    background-color: white;
    border-radius: 10px;
    font-weight: 400;
    font-size: 3rem;
    padding: 1.5% 0.5%;
    width:110%;
    
}

.textComederos{
    font-size: 1.5em;
    margin-bottom: 5%;
    padding: 3%;
}

.linkComederos{
    color:white;
    border-radius: 10px;
    background-color: #F0A83E;
    font-size: 1.5em;
    padding: 5%;
    text-decoration: none;
}

.auxMenu{
    align-items: center;
    display:flex;
    flex-direction:column;
    text-align: center;
}

.pataImg{
    margin:2.5%;
    width:5%;
}

h1{
    color:#3C2313;
    font-size: 3.5em;
}

.navCategory{
    display:flex;
    
}

.menuCategory{
    display:flex;
    justify-content: center;
    width: 100%;
    
}

.menuCategory li{
    list-style: none;
    padding:4%
}

.menuCategory li a {
    color:#666666;
    text-decoration: none;
}

.products{
    display:flex;
    justify-content: space-around;
    margin: 2.5% 0;
    width: 80%;
}

.cardProduct{
    background-color: #FBFAF6;
    width:25%;
}

.cardProduct h5, .cardProduct p{
    font-family: Roboto;
    font-weight: 500;
    padding: 1%;
}

.cardProduct p{
    color:#F0A83E
}

h3{
    color:#3C2313;
    font-size: 1.5em;
}

.formContacto{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.formulario{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:50%
}

.inputForm{
    padding: 3.5%;
    margin: 5%;
    background-color:#3C2313 ;
    border-radius: 25px;
    color:white;
    width: 50%;
    font-size: 1rem;
}

.inputForm::placeholder{
    color:white;
}

.botons{
    display:flex;
    justify-content:center;
    width: 50%;    
}

.btnReset{
    color:white;
    background-color:#8A8787;
    padding: 3.5% 7%;
    margin: 5%;
    border-radius: 20px;
    font-size: 1.25em;
}

.btnSend{
    color: white;
    background-color:#F0A83E;
    padding: 3.5% 7%;
    margin: 5%;
    border-radius: 20px;
    font-size: 1.25em;
}

.footerTop{
    background-color:#F0A83E;
    display:flex;
    justify-content:space-between;
    padding: 1% 2%;
}

.subInfoSection{
    display:flex;
    width:50%
}

.subInfoSection img{
    margin-right: 1.5%;
}

.subInfoSection h3{
    color: white;
    margin-top: .5%;
}

.subSection{
    display: flex;
    margin: auto 3%;
    width: 30%;
}

.subSection input{
    border-radius: 20px;
    margin-right: 5%;
    padding: 2.5% 2.5%;
    width: 200%;
}

.subSection a{
    border-radius: 20px;
    background-color:#3C2313;
    color: white;
    padding: 2.5% 2.5%;
    text-decoration: none;
}

.footerBottom{
    display: flex;
    justify-content: space-between;
    background-color:#3C2313;
}

.secctionFooterLeft{
    display: flex;
    flex-direction:column;
    align-items: space-between;
    padding: 2.5%;
    width: 50%;
}

.info{
    display:flex;
    padding: 2.5% 5%;
}

.datos{
    margin-left:2.5%
}

.info h3{
    color:white;
}

.info p{
    color:#8A8787;
}

.containerImgFotter{
    margin: auto 5%;
}

h5{
    background-color:#222222;
    color:white;
    padding: .25%;
    text-align: center;
}